<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=	, initial-scale=1.0" />
		<style>
		@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.content-wrapper {
	height: 100vh;
	padding: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
header {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 5px solid black;
	margin-bottom: 50px;
}
header div {
	font-weight: 300;
	font-size: 32px;
}
header img {
	padding: 50px 0;
}
.error {
	padding: 20px 0;
}
.error p {
	font-size: 20px;
	padding: 5px 0;
}
a {
	padding: 20px 0;
	font-size: 16px;
}
.bold {
	font-weight: 700px !important;
}

		</style>
		<title>Error | Pixelinegroup</title>
	</head>
	<body>
		<div class="content-wrapper">
			<header>
				<img src="https://pixelinegroup.com/files/web_vector/group_logo.svg" alt="logo" />
				<div>
					<span style="font-weight: 500; font-size:48px"><%= err.status%></span><br/>
					<p><%= err.message%></p>
				</div>
			</header>
	</body>
</html>