<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=	, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css">
		<title>Error | Pixelinegroup</title>
	</head>
	<body>
		<div class="content-wrapper">
			<header>
				<img src="https://pixelinegroup.com/files/web_vector/group_logo.svg" alt="logo" />
				<div>
					<span style="font-weight: 500; font-size:48px"><%= err.status%></span><br/>
					<p><%= err.message%></p>
				</div>
			</header>
	</body>
</html>